@page
@model Web.Pages.Index1Model
@{

    Layout = "Layouts/_Layout";

}

<!-- Preloader -->
<div class="preloader"></div>

<!-- Header Style Two -->
<header class="main-header header-style-two">

    <!-- Header Upper -->
    <div class="header-upper">

        <div class="auto-container clearfix">
            <!--Info-->
            <div class="logo-outer">
                <div class="logo"><a href="#"><img src="images/logo7.png" alt="" title=""></a></div>
            </div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <!-- Togg le Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-3"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="current dropdown">
                                <a href="#home">Home</a>

                            </li>
                            <li class="dropdown">
                                <a href="#about-us">About Us</a>

                            </li>

                            <li class="dropdown">
                                <a href="#service">Service</a>

                            </li>

                            <li><a href="#contact">Contact</a></li>


                            <li class="dropdown">
                                <a href="#price">Pricing</a>

                            </li>
                            <li class="dropdown">
                                <a href="#testimonials">Testimonials</a>

                            </li>


                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                <!-- Option Box -->
                <div class="option-box clearfix">

                    <!-- Button Box -->
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-two"><span class="txt">Login</span></a>
                    </div>

                </div>
                <div class="option-box clearfix">

                    <!-- Button Box -->
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-two"><span class="txt">Signup</span></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--End Header Upper-->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-plus"></span></div>

        <nav class="menu-box">

            <div class="nav-logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>
            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>

            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-dribbble-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube-square"></span></a></li>
                    <li><a href="#"><span class="fa fa-envelope-square"></span></a></li>
                </ul>
            </div>

        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!-- End Main Header -->
<!-- Banner Section -->
<a name="home"></a>
<section class="banner-section">
    <div class="auto-container">
        <div class="icons">
            <!-- Icon One -->
            <div class="icon-one" style="background-image:url(images/icons/icon-17.png)"></div>
            <!-- Icon Two -->
            <div class="icon-two" style="background-image:url(images/icons/icon-18.png)"></div>
            <!-- Icon Three -->
            <div class="icon-three" style="background-image:url(images/icons/icon-20.png)"></div>
            <!-- Icon Four -->
            <div class="icon-four" style="background-image:url(images/icons/icon-19.png)"></div>
            <!-- Icon Five -->
            <div class="icon-five" style="background-image:url(images/icons/icon-21.png)"></div>
        </div>
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h2>Welcome to Web of Friends</h2>
                    <div class="text">amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas</div>
                    <div class="link-box">
                        <a href="#" class="theme-btn btn-style-seven"><span class="txt">Signup</span></a>
                        <a href="#" class="theme-btn btn-style-six"><span class="txt">Learn more</span></a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-xl-7 col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column parallax-scene-1">
                    <div data-depth="0.60" class="image parallax-layer">
                        <img src="images/new/blue/content-image-7.png" alt="" />
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Pattern Layer -->
    <div class="pattern-layer" style="background-image:url(images/main-slider/content-image-8.png)"></div>
</section>
<!-- End Banner Carousel Section -->
<!-- Boost Section -->
<a name="about-us"></a>
<section class="boost-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Services Column -->
            <div class="services-column col-lg-6 col-md-12 col-sm-12">
                <img src="images/about.png">
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title-two">
                        <h2>About Us</h2>
                        <div class="title-text"></div>
                    </div>
                    <div class="text">
                        <p>Web of Friends was a tool I designed after undergoing a yearlong research project. As part of the senior leadership team, I was in charge of wellbeing and wanted to conduct some research into how I could improve children’s wellbeing and their social and emotional development but quickly stumbled across a problem. Trying to gather data based on wellbeing was very hard without using the usual questionnaire approach to how children were feeling. After doing a lot of (unsuccessful) digging on the internet, a discussion with a college pointed me in the direction of something she had studied at university, a sociogram. A sociogram is essentially just a map of who is friends with who that ends up looking a little bit like a spider’s web. I decided this could be an interesting way of tracking how my research project was going and jumped back into class the next day excited with my new plan. I had to tell a little white lie to the children, “I want you all to secretly write down who your three best friends are. This is strictly private so no one can talk about it. I only want to know who your best friends are so if you are well behaved in class, I may let you sit next to your friends.” After a silent few minutes, I had my secret box full of post it notes and carried on with the planned lessons for the day.</p><br><p>
                            That evening I sat down still excited to map my class out and see the results. Little did I know the scale of the task that was in front of me. I laid all the post it notes on my living room floor and tried to move them into rough friendship groups. After that I tried to join who had chosen who with lines of string. Little did I know how frustrating and time consuming this would be. Trying to join who had chosen who with string without overlapping any of the post it notes seemed impossible. This joining notes, moving notes, joining notes again… moving notes again… process went on late into the night and I gave up. The next day I carried on and finally had something that resembled something I could read. I took a photo of the cluttered living room floor set about copying what I had made on the computer so I could print and share with colleges without revealing the décor of my house.
                        </p><br><p>
                            Once I had the finished product on the computer, what I had made for fascinating reading. I could look into the relationships between the children in my class in detail I had never seen before using the friendship web. What I saw also shocked me. Some children were very popular, and some children were completely left out, which granted might not be a shock on its own, but which children were popular and which children were excluded did shock me. I could also see groups of friends appearing due to where they were on the friendship web and who had picked who. I could have stared at the friendship web for hours. I did stare at it for hours! I was fascinated by what I was seeing. It also showed me some problems I had in my class that I didn’t know were there. I started to see a pattern emerging that my ethnic minority children seemed to be excluded from the group. I had an inclusion problem in my class that I didn’t even know I had before the friendship web. I was shocked and a little embarrassed that I hadn’t seen it myself. I needed a plan for these children, and others that were excluded.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Services Section -->
<!--services Section-->
<a name="service"></a>
<section class="services">
    <div class="auto-container">
        <div class="sec-title">
            <h2 style="text-align: center;">Why we are better.</h2><br>

            <p class="text" style="text-align: center;">
                There are many advantages to using Web of Friends in your school.
                Web of Friends is quick and easy to use.
                The application can be populated with children’s names and classes using SIMS. The data the friendship webs provide allow teachers to help improve the wellbeing of excluded and/or rejected children.
                The ability to quickly produce a friendship web at various points throughout the year (for example once a term during an assessment window) allows schools to track children’s friendships thought the academic year and as they move through the school.
                The friendship webs are evidence that your school is trying to improve children’s wellbeing and can help with inspections.
                Using the friendship webs, I had spotted many things in my class such as:
            </p><br>

            <h3 style="text-align: center;">
                Using the friendship webs, I had spotted many things in my class such as:
            </h3><br>

            <p style="text-align: center; font-size: 20px;">
                New friendships <br>
                Breakdowns of friendships<br>
                Diversity problems <br>
                Children with lots of friends but no strong friendships<br>
                New friendship groups emerging<br>
                Exclusion of new children based on new groups appearing<br>
                Issues outside school effecting friendships in school<br>
            </p><br>

            <h3 style="text-align: center;">
                Due to the friendship webs I was able to affect many things within my class such as:
            </h3><br>

            <p style="text-align: center; font-size: 20px;">
                integrate excluded children<br>
                save friendships that had broken down without me spotting the breakdown in class<br>
                build stronger friendships<br>
                create new friendships<br>
                create new groups of friends<br>
                improve inclusion<br>
            </p><br>

            <h3 style="text-align: center;">
                Other benefits of the friendship webs in my class were:
            </h3><br>

            <p style="text-align: center; font-size: 20px;">
                preempting a parental complaint about friendship problems<br>
                informed my feedback during parent’s evenings<br>
                helped when writing reports<br>
                creating groups for residential trips<br>
                creating groups for transition<br>
                Parents’ comments about how close the class were<br>
            </p><br>

            <h3 style="text-align: center;">
                High level features list (point wide).
            </h3><br>

            <p style="text-align: center; font-size: 20px;">
                Quickly generate friendship webs<br>
                Easy to use<br>
                Upload classes using SIMS<br>
                Wellbeing data for inspectors<br>
                Accountability over children’s wellbeing<br>

            </p>

        </div>
    </div>
</section>

<!-- Market Section -->
<a name="contact"></a>
<section class="market-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title-two">
                        <h2>Have Questions?</h2>
                        <div class="title-text">amet justo donec enim diam</div>
                    </div>
                    <!-- Bold Text -->
                    <div class="bold-text">amet justo donec enim diam vulputate ut <br> amet justo donec enim diam vulputate ut</div>
                    <ul class="list-style-one">
                        <li>amet justo donec enim diam ?</li>
                        <li>amet justo donec enim diam vulputate ut?</li>
                        <li>amet justo donec enim diam vulputate utenim diam vulputate ut?</li>
                    </ul>
                    <a href="#" class="theme-btn btn-style-seven"><span class="txt">Contact Us</span></a>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column parallax-scene-2">
                    <div data-depth="0.50" class="image parallax-layer">
                        <img src="images/new/blue/seo-1.png" alt="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Market Section -->
<!--Pricing Section-->
<a name="price"></a>
<section class="pricing-section style-two">
    <!-- Pattern Layer -->
    <div class="pattern-layer" style="background-image:url(images/background/pattern-8.png)"></div>
    <div class="auto-container">
        <div class="outer-container pricing-tabs tabs-box">

            <!--Title Column-->
            <div class="title-column">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h2>Best Pricing Plan</h2>
                        <div class="text">No Hidden Charges! Choose your Plan.</div>
                    </div>
                    <!--Tab Btns-->


                </div>
            </div>

            <!--Price Column-->
            <div class="price-column">
                <div class="inner-column">

                    <!--Tabs Container-->
                    <div class="tabs-content">

                        <!--Tab-->
                        <div class="tab active-tab" id="prod-monthly">
                            <div class="content">
                                <div class="row clearfix">


                                    <!--Price Block-->
                                    <div class="price-block alternate col-lg-4 col-md-6 col-sm-12">
                                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                            <div class="icon-box">
                                                <span class="icon flaticon-send"></span>
                                            </div>
                                            <h3>Primary</h3>
                                            <div class="btn-box">
                                                <a href="#price" class="theme-btn btn-style-four"><span class="txt">Try Now</span></a>
                                            </div>
                                            <ul class="price-list">
                                                <li>For a small school</li>
                                                <li>upto 100 students</li>

                                            </ul>
                                            <div class="price"><sub>£</sub>300/Annual</div>
                                        </div>
                                    </div>

                                    <!--Price Block-->
                                    <div class="price-block alternate col-lg-4 col-md-12 col-sm-12">
                                        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                            <div class="icon-box">
                                                <span class="icon flaticon-start"></span>
                                            </div>
                                            <h3>Premium</h3>
                                            <div class="btn-box">
                                                <a href="#price" class="theme-btn btn-style-four"><span class="txt">Try Now</span></a>
                                            </div>
                                            <ul class="price-list">
                                                <li>For a large school</li>
                                                <li>for schools with more than 300 students</li>

                                            </ul>
                                            <div class="price"><sub>£</sub>500/Annual</div>
                                        </div>
                                    </div>

                                    <!--Price Block-->
                                    <div class="price-block alternate col-lg-4 col-md-6 col-sm-12">
                                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>

                                            <div class="icon-box">
                                                <span class="icon flaticon-rocket-ship"></span>
                                            </div>
                                            <h3>Standard</h3>
                                            <div class="btn-box">
                                                <a href="#" class="theme-btn btn-style-four"><span class="txt">Try Now</span></a>
                                            </div>
                                            <ul class="price-list">
                                                <li>For a medium school</li>
                                                <li>for schools with 100 to 300 students</li>

                                            </ul>
                                            <div class="price"><sub>£</sub>400/Annual</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="prod-yearly">
                            <div class="content">
                                <div class="row clearfix">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Pricing Section-->
<!-- Testimonial Section Two -->
<a name="testimonials"></a>
<section class="testimonial-section-two">
    <!-- Image Layer -->

    <div class="auto-container">
        <!-- Sec Title Two -->
        <div class="sec-title-two">
            <h2>Testimonials</h2>
            <div class="title-text">Check what’s clients say about us!</div>
        </div>
        <div class="inner-container">

            <div class="testimonial-carousel-two owl-carousel owl-theme">

                <!-- Testimonial Block Two -->
                <div class="testimonial-block-two">
                    <div class="inner-box">
                        <div class="quote-icon flaticon-quote-2"></div>
                        <div class="content">
                            <div class="image">
                                <img src="images/new/blue/author-4.jpg" alt="" />
                            </div>
                            <div class="text">
                                “When I started Year 6, I was shy and quiet and I didn’t have a lot of friends but later in the year I gained more friends, for instance Child’s Name. Both of our parents are divorced so I easily bonded with her and Child’s Name is quite energetic and bubbly so through her I got more friends and it helped that I was always sitting next to at least one of them.
                                Around Christmas time I became Class Prefect which boosted my confidence and made me feel like I had a role in the class. So, I started making jokes that my class found funny and I felt good about myself, I even got a certificate from Mr. Lloyd about how my jokes were making everyone laugh and making the class a nicer place to be. <br>
                                I never felt proud of my African culture to the point where I was ashamed that I was different because Africa was always seen as a poor place with diseases and hard labour, but Mr. Lloyd made me feel more confident about having an African background by going to that African restaurant and showing me lots of pictures. He taught me the need to embrace your culture and not to be ashamed of where you are from. This encouraged me to write about the Zulu Warriors. When I showed Mr. Lloyd, he gave me a stamp for being an ethical, informed citizen and for being an ambitious, capable learner for doing extra research at home.
                                As the months passed, I got louder, more confident and I got sent to do more jobs around the school and I even got to add on the dojos (Our school’s merit system). Once at Secondary School for a transition day I got called something rude and racist and my confidence was crushed but the way Mr. Lloyd dealt with it I felt a lot better. He showed me videos of successful people who were from Ghana like a WWE wrestler and I could easily relate to the people and quickly gained my confidence back. Mr. Lloyd understood as his accent is different and it was easy to point out. It was nice to know people cared and comforted me like Child’s Name, Child’s Name, Child’s Name, Child’s Name etc. Someone posted on Instagram that African kids were poor, and I felt poor too but then I realized from previous lessons that you should always be proud of where you come from no matter what. <br>
                                In school we made some cakes and I gave one to Mr. Lloyd and one to Teacher’s Name. She pointed out how loud I was, and I realized it too.
                                I remember when he (Mr. Lloyd) asked me earlier in the year where I was from, I was nervous to tell him but now I’m okay with talking about where I am from. One of the main reasons I was shy is that my parents are divorced, and I was jealous of the kids who had their dads around. It felt good to know my teacher’s parents were divorced and he would understand. As I got closer to him, he felt like a dad figure and it felt nice knowing someone like a dad cared about my wellbeing, my safety and my education. It was nice to feel like I actually had a dad around.
                                It’s crazy to think that at the start of the year I was so shy and now I’m totally different and have lots of friends.”
                                .
                            </div>
                            <div class="author-name">K.M Jack Creativework</div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</section>
<!-- End Testimonial Section Two -->
<!-- Subscribe Section -->
<!-- End Subscribe Section -->
