@page
@model Web.Pages.IndexModel


@{

    Layout = "Layouts/_Layout";

}


<div class="preloader"></div>

<!-- Header Style One -->
<header class="main-header header-style-one">

    <!-- Header Upper -->
    <div class="header-upper">
        <div class="inner-container">
            <div class="auto-container clearfix">
                <!--Info-->
                <div class="logo-outer">
                    <div class="logoNav"><a href="/"><img src="images/logo7.png" alt="" title=""></a></div>
                </div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown">
                                    <a href="#home">Home</a>

                                </li>
                                <li class="dropdown">
                                    <a href="#aboutus">About Us</a>

                                </li>

                                <li class="dropdown">
                                    <a href="#service">Service</a>

                                </li>

                                <li class="dropdown">
                                    <a href="#price">Pricing</a>

                                </li>

                                <li class="dropdown">
                                    <a href="#testimonials">Testimonials</a>
                                </li>

                                <li><a href="#contact">Contact</a></li>

                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    <!-- Option Box -->
                    <div class="option-box clearfix">

                        <!-- Button Box -->
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one"><span class="txt">Signup</span></a>
                            <a href="#" class="theme-btn btn-style-one"><span class="txt">Login</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-plus"></span></div>

        <nav class="menu-box">

            <div class="nav-logo"><a href="/"><img src="images/logo7.png" alt="" title=""></a></div>
            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>

            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-dribbble-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube-square"></span></a></li>
                    <li><a href="#"><span class="fa fa-envelope-square"></span></a></li>
                </ul>
            </div>

        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!-- End Main Header -->
<!-- Banner Carousel Section -->
<a name="home"></a>
<section class="banner-carousel-section">
    <!-- Banner Carousel -->
    <div class="banner-carousel owl-carousel owl-theme">

        <!-- Slide -->
        <div class="slide">
            <div class="icons">
                <!-- Icon One -->
                <div class="icon-one" style="background-image:url(images/icons/icon-1.png)"></div>
                <!-- Icon Two -->
                <div class="icon-two" style="background-image:url(images/icons/icon-2.png)"></div>
                <!-- Icon Three -->
                <div class="icon-three" style="background-image:url(images/icons/icon-3.png)"></div>
                <!-- Icon Four -->
                <div class="icon-four" style="background-image:url(images/icons/icon-4.png)"></div>
                <!-- Icon Five -->
                <div class="icon-five" style="background-image:url(images/icons/icon-5.png)"></div>
                <!-- Icon Six -->
                <div class="icon-six" style="background-image:url(images/icons/icon-6.png)"></div>
                <!-- Icon Seven -->
                <div class="icon-seven" style="background-image:url(images/icons/icon-7.png)"></div>
                <!-- Icon Eight -->
                <div class="icon-eight" style="background-image:url(images/icons/icon-8.png)"></div>
                <!-- Icon Nine -->
                <div class="icon-nine" style="background-image:url(images/icons/icon-9.png)"></div>
            </div>
            <!-- Pattern Layer -->
            <div class="pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Content Column -->
                    <div class="content-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="content">
                                <h2>Welcome to Web of Friends.</h2>
                                <div class="text">cras semper auctor neque vitae tempus quam pellentesque nec nam aliquam sem et.</div>
                                <div class="link-box">
                                    <a href="about.html" class="theme-btn btn-style-two"><span class="txt">Signup</span></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Images Column -->
                    <div class="images-column col-xl-7 col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column parallax-scene-3">
                            <div data-depth="0.20" class="parallax-layer image image-one">
                                <img src="images/new/white/content-image-1.png" alt="" />
                            </div>
                            <div data-depth="0.20" class="image image-two parallax-layer">
                                <img src="images/new/white/content-image-2.png" alt="" />
                            </div>
                            <div data-depth="0.50" class="image image-three parallax-layer">
                                <img src="images/new/white/content-image-3.png" alt="" />
                            </div>
                            <div data-depth="0.30" class="image image-four parallax-layer">
                                <img src="images/new/white/content-image-4.png" alt="" />
                            </div>
                            <div data-depth="0.40" class="image image-five parallax-layer">
                                <img src="images/new/white/content-image-5.png" alt="" />
                            </div>
                            <div data-depth="0.60" class="image image-six parallax-layer">
                                <img src="images/new/white/content-image-6.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</section>
<!-- End Banner Carousel Section -->
<!-- About Section -->
<a name="aboutus"></a>
<section class="about-section">
    <!-- Icon Layer -->
    <div class="icon-layer paroller" data-paroller-factor="-0.10" data-paroller-factor-lg="0.10" data-paroller-type="foreground" data-paroller-direction="horizontal" style="background-image:url(images/icons/icon-13.png)"></div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img style="opacity: 60%;" src="images/about.png" alt="" />
                    </div>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-two"><span class="txt">Learn More</span></a>
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h2>About Us</h2>
                        <!--<div class="text">orci nulla pellentesque dignissim <br> enim sit.</div>-->
                    </div>
                    <div class="text">
                        <p style=" line-height: 35px; text-align: justify;">Web of Friends was a tool I designed after undergoing a yearlong research project. As part of the senior leadership team, I was in charge of wellbeing and wanted to conduct some research into how I could improve children’s wellbeing and their social and emotional development but quickly stumbled across a problem. Trying to gather data based on wellbeing was very hard without using the usual questionnaire approach to how children were feeling. After doing a lot of (unsuccessful) digging on the internet, a discussion with a college pointed me in the direction of something she had studied at university, a sociogram. A sociogram is essentially just a map of who is friends with who that ends up looking a little bit like a spider’s web. I decided this could be an interesting way of tracking how my research project was going and jumped back into class the next day excited with my new plan. I had to tell a little white lie to the children, “I want you all to secretly write down who your three best friends are. This is strictly private so no one can talk about it. I only want to know who your best friends are so if you are well behaved in class, I may let you sit next to your friends.” After a silent few minutes, I had my secret box full of post it notes and carried on with the planned lessons for the day.</p><br>
                        <p style=" line-height: 35px; text-align: justify;">That evening I sat down still excited to map my class out and see the results. Little did I know the scale of the task that was in front of me. I laid all the post it notes on my living room floor and tried to move them into rough friendship groups. After that I tried to join who had chosen who with lines of string. Little did I know how frustrating and time consuming this would be. Trying to join who had chosen who with string without overlapping any of the post it notes seemed impossible. This joining notes, moving notes, joining notes again… moving notes again… process went on late into the night and I gave up. The next day I carried on and finally had something that resembled something I could read. I took a photo of the cluttered living room floor set about copying what I had made on the computer so I could print and share with colleges without revealing the décor of my house.</p><br><p style=" line-height: 35px; text-align: justify;">Once I had the finished product on the computer, what I had made for fascinating reading. I could look into the relationships between the children in my class in detail I had never seen before using the friendship web. What I saw also shocked me. Some children were very popular, and some children were completely left out, which granted might not be a shock on its own, but which children were popular and which children were excluded did shock me. I could also see groups of friends appearing due to where they were on the friendship web and who had picked who. I could have stared at the friendship web for hours. I did stare at it for hours! I was fascinated by what I was seeing. It also showed me some problems I had in my class that I didn’t know were there. I started to see a pattern emerging that my ethnic minority children seemed to be excluded from the group. I had an inclusion problem in my class that I didn’t even know I had before the friendship web. I was shocked and a little embarrassed that I hadn’t seen it myself. I needed a plan for these children, and others that were excluded.</p>
                    </div>
                    <div class="author">M. Rashied, CEO Cologe.</div>
                    <div class="signature"><img src="images/icons/signature.png" alt="" /></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About Section -->
<!--services Section-->
<a name="service"></a>
<section class="services">
    <div class="auto-container">
        <div class="sec-title">

            <h2 style="text-align: center;">Why we are better.</h2><br>

            <p class="text" style="text-align: justify;  line-height: 35px;">
                There are many advantages to using Web of Friends in your school.
                Web of Friends is quick and easy to use.
                The application can be populated with children’s names and classes using SIMS. The data the friendship webs provide allow teachers to help improve the wellbeing of excluded and/or rejected children.
                The ability to quickly produce a friendship web at various points throughout the year (for example once a term during an assessment window) allows schools to track children’s friendships thought the academic year and as they move through the school.
                The friendship webs are evidence that your school is trying to improve children’s wellbeing and can help with inspections.
                Using the friendship webs, I had spotted many things in my class such as:
            </p><br><br>

            <h2 style="text-align: center">What We Saw By Using This Program.</h2><br><br>

            <div class="row clearfix">

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-web-programming"></span>
                        </div>
                        <h3>New Friendships</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-video"></span>
                        </div>
                        <h3>Friendship Breakdowns</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-analytics"></span>
                        </div>
                        <h3>Diversity Problems</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-support"></span>
                        </div>
                        <h3>Popular Students and Unpopular Students</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-plan"></span>
                        </div>
                        <h3>New Friendship Groups</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed </div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-development"></span>
                        </div>
                        <h3>Exclutions of New Children</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-video"></span>
                        </div>
                        <h3>Issues From Outside</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed </div>

                    </div>
                </div>

            </div> <br>

            <h2 style="text-align: center">What We Do With This Application </h2><br><br>

            <div class="row clearfix">

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-web-programming"></span>
                        </div>
                        <h3>Integrate Excluded Children</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-video"></span>
                        </div>
                        <h3>Save Friendships That Missed The Teachers Attention</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-analytics"></span>
                        </div>
                        <h3>Build Strong Friendships</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-support"></span>
                        </div>
                        <h3>Create New Friendships</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-plan"></span>
                        </div>
                        <h3>Create New Groups of Friends</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-development"></span>
                        </div>
                        <h3>Improve Inclusions</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

            </div> <br>

            <h2 style="text-align: center;"> Other Benefits You Get From This Program</h2><br><br>

            <div class="row clearfix">

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-web-programming"></span>
                        </div>
                        <h3>Prevent a Parental Complaint About Friendship Problems</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-video"></span>
                        </div>
                        <h3>Creating Groups For Transition</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-analytics"></span>
                        </div>
                        <h3>Improve My Feedback During Parent Teacher Meetings</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-support"></span>
                        </div>
                        <h3>Can Use When Writing Reports</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-plan"></span>
                        </div>
                        <h3>Creating Groups For Residential Trips</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-development"></span>
                        </div>
                        <h3>Gatherign Data From Parents On How Close The Class Were</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

            </div><br><br>

            <h2 style="text-align: center"> High Level Features We Offer.</h2><br><br>

            <div class="row clearfix">

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-web-programming"></span>
                        </div>
                        <h3>Quickly Generate Friendship Webs</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-video"></span>
                        </div>
                        <h3>Easy To Use</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-analytics"></span>
                        </div>
                        <h3>Upload Classes Using SIMS</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-support"></span>
                        </div>
                        <h3>Wellbeing Data For Inspectors</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>

                <!-- Service Block Six -->
                <div class="service-block-six col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-plan"></span>
                        </div>
                        <h3>Accountability Over Childern Wellbeing</h3>
                        <div class="text">in pellentesque massa placerat duis ultricies lacus sed</div>

                    </div>
                </div>



            </div>

        </div>
    </div>
</section>


<!--Pricing Section-->
<a name="price"></a>
<section data-brackets-id="704" class="pricing-section style-two">
    <!-- Pattern Layer -->
    <div data-brackets-id="705" class="pattern-layer" style="background-image:url(images/background/pattern-8.png)"></div>
    <div data-brackets-id="706" class="auto-container">
        <div data-brackets-id="707" class="outer-container pricing-tabs tabs-box">

            <!--Title Column-->
            <div data-brackets-id="708" class="title-column">
                <div data-brackets-id="709" class="inner-column">
                    <!-- Sec Title -->
                    <div data-brackets-id="710" class="sec-title">
                        <h2 data-brackets-id="711">Best Pricing Plan</h2>
                        <div data-brackets-id="712" class="text">No Hidden Charges! Choose your Plan.</div>
                    </div>
                    <!--Tab Btns-->


                </div>
            </div>

            <!--Price Column-->
            <div data-brackets-id="713" class="price-column">
                <div data-brackets-id="714" class="inner-column">

                    <!--Tabs Container-->
                    <div data-brackets-id="715" class="tabs-content">

                        <!--Tab-->
                        <div data-brackets-id="716" class="tab active-tab" id="prod-monthly">
                            <div data-brackets-id="717" class="content">
                                <div data-brackets-id="718" class="row clearfix">


                                    <!--Price Block-->
                                    <div data-brackets-id="719" class="price-block alternate col-lg-4 col-md-6 col-sm-12">
                                        <div data-brackets-id="720" class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                            <div data-brackets-id="721" class="line-one"></div>
                                            <div data-brackets-id="722" class="line-two"></div>
                                            <div data-brackets-id="723" class="icon-box">
                                                <span data-brackets-id="724" class="icon flaticon-send"></span>
                                            </div>
                                            <h3 data-brackets-id="725">Primary</h3>
                                            <div data-brackets-id="726" class="btn-box">
                                                <a data-brackets-id="727" href="index-2.html#price" class="theme-btn btn-style-four"><span data-brackets-id="728" class="txt">Try Now</span></a>
                                            </div>
                                            <ul data-brackets-id="729" class="price-list">
                                                <li data-brackets-id="730">For a small school</li>
                                                <li data-brackets-id="731">upto 100 students</li>

                                            </ul>
                                            <div data-brackets-id="732" class="price"><sub data-brackets-id="733">£</sub>300/Annual</div>
                                        </div>
                                    </div>

                                    <!--Price Block-->
                                    <div data-brackets-id="734" class="price-block alternate col-lg-4 col-md-12 col-sm-12">
                                        <div data-brackets-id="735" class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                                            <div data-brackets-id="736" class="line-one"></div>
                                            <div data-brackets-id="737" class="line-two"></div>
                                            <div data-brackets-id="738" class="icon-box">
                                                <span data-brackets-id="739" class="icon flaticon-start"></span>
                                            </div>
                                            <h3 data-brackets-id="740">Premium</h3>
                                            <div data-brackets-id="741" class="btn-box">
                                                <a data-brackets-id="742" href="index-2.html#price" class="theme-btn btn-style-four"><span data-brackets-id="743" class="txt">Try Now</span></a>
                                            </div>
                                            <ul data-brackets-id="744" class="price-list">
                                                <li data-brackets-id="745">For a large school</li>
                                                <li data-brackets-id="746">for schools with more than 300 students</li>

                                            </ul>
                                            <div data-brackets-id="747" class="price"><sub data-brackets-id="748">£</sub>500/Annual</div>
                                        </div>
                                    </div>

                                    <!--Price Block-->
                                    <div data-brackets-id="749" class="price-block alternate col-lg-4 col-md-6 col-sm-12">
                                        <div data-brackets-id="750" class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                                            <div data-brackets-id="751" class="line-one"></div>
                                            <div data-brackets-id="752" class="line-two"></div>

                                            <div data-brackets-id="753" class="icon-box">
                                                <span data-brackets-id="754" class="icon flaticon-rocket-ship"></span>
                                            </div>
                                            <h3 data-brackets-id="755">Standard</h3>
                                            <div data-brackets-id="756" class="btn-box">
                                                <a data-brackets-id="757" href="#" class="theme-btn btn-style-four"><span data-brackets-id="758" class="txt">Try Now</span></a>
                                            </div>
                                            <ul data-brackets-id="759" class="price-list">
                                                <li data-brackets-id="760">For a medium school</li>
                                                <li data-brackets-id="761">for schools with 100 to 300 students</li>

                                            </ul>
                                            <div data-brackets-id="762" class="price"><sub data-brackets-id="763">£</sub>400/Annual</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div data-brackets-id="764" class="tab" id="prod-yearly">
                            <div data-brackets-id="765" class="content">
                                <div data-brackets-id="766" class="row clearfix">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Pricing Section-->
<!-- Testimonial Section -->
<a name="testimonials"></a>
<section class="testimonial-section" style="background-image:url(images/background/pattern-4.png)">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Title Column -->
            <div class="images-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Image -->
                    <div class="image image-one">
                        <img src="images/new/white/author-1.jpg" alt="" />
                    </div>
                    <!-- Image -->
                    <div class="image image-two">
                        <img src="images/new/white/author-2.jpg" alt="" />
                    </div>
                    <!-- Image -->
                    <div class="image image-three">
                        <img src="images/new/white/author-3.jpg" alt="" />
                    </div>
                    <!-- Image -->
                    <div class="big-image image-four">
                        <img src="images/new/white/author-4.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h2>Testimonials</h2>
                        <div class="text">Check what’s our client say about us!</div>
                    </div>

                    <div class="testimonial-carousel owl-carousel owl-theme">

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote-icon flaticon-quote-2"></div>
                                <div class="text" style=" line-height: 35px; text-align: justify;">
                                    “When I started Year 6, I was shy and quiet and I didn’t have a lot of friends but later in the year I gained more friends, for instance Child’s Name. Both of our parents are divorced so I easily bonded with her and Child’s Name is quite energetic and bubbly so through her I got more friends and it helped that I was always sitting next to at least one of them.
                                    Around Christmas time I became Class Prefect which boosted my confidence and made me feel like I had a role in the class. So, I started making jokes that my class found funny and I felt good about myself, I even got a certificate from Mr. Lloyd about how my jokes were making everyone laugh and making the class a nicer place to be.
                                    I never felt proud of my African culture to the point where I was ashamed that I was different because Africa was always seen as a poor place with diseases and hard labour, but Mr. Lloyd made me feel more confident about having an African background by going to that African restaurant and showing me lots of pictures. He taught me the need to embrace your culture and not to be ashamed of where you are from. This encouraged me to write about the Zulu Warriors. When I showed Mr. Lloyd, he gave me a stamp for being an ethical, informed citizen and for being an ambitious, capable learner for doing extra research at home.
                                    As the months passed, I got louder, more confident and I got sent to do more jobs around the school and I even got to add on the dojos (Our school’s merit system). Once at Secondary School for a transition day I got called something rude and racist and my confidence was crushed but the way Mr. Lloyd dealt with it I felt a lot better. He showed me videos of successful people who were from Ghana like a WWE wrestler and I could easily relate to the people and quickly gained my confidence back. Mr. Lloyd understood as his accent is different and it was easy to point out. It was nice to know people cared and comforted me like Child’s Name, Child’s Name, Child’s Name, Child’s Name etc. Someone posted on Instagram that African kids were poor, and I felt poor too but then I realized from previous lessons that you should always be proud of where you come from no matter what.
                                    In school we made some cakes and I gave one to Mr. Lloyd and one to Teacher’s Name. She pointed out how loud I was, and I realized it too.
                                    I remember when he (Mr. Lloyd) asked me earlier in the year where I was from, I was nervous to tell him but now I’m okay with talking about where I am from. One of the main reasons I was shy is that my parents are divorced, and I was jealous of the kids who had their dads around. It felt good to know my teacher’s parents were divorced and he would understand. As I got closer to him, he felt like a dad figure and it felt nice knowing someone like a dad cared about my wellbeing, my safety and my education. It was nice to feel like I actually had a dad around.
                                    It’s crazy to think that at the start of the year I was so shy and now I’m totally different and have lots of friends.”
                                </div><br>

                                <div class="author">- Raisa Moni</div>
                                <div class="designation">Envato Customer</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <!--
                                                    <div class="testimonial-block">
                                                        <div class="inner-box">
                                                            <div class="quote-icon flaticon-quote-2"></div>
                                                            <div class="text">tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a.</div>
                                                            <div class="author">- Raisa Moni</div>
                                                            <div class="designation">Envato Customer</div>
                                                        </div>
                                                    </div>
                        -->
                        <!-- Testimonial Block -->
                        <!--
                                                    <div class="testimonial-block">
                                                        <div class="inner-box">
                                                            <div class="quote-icon flaticon-quote-2"></div>
                                                            <div class="text">tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a.</div>
                                                            <div class="author">- Raisa Moni</div>
                                                            <div class="designation">Envato Customer</div>
                                                        </div>
                                                    </div>
                        -->

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Testimonial Section -->
<!-- End News Section -->
<!-- Call To Action Section -->
<a name="contact"></a>
<section class="call-to-action-section" style="background-image:url(images/background/map-pattern.png)">
    <!-- Icon One -->
    <div class="icon-one" style="background-image:url(images/icons/icon-16.png)"></div>
    <div class="auto-container">
        <div class="content">
            <h2>non blandit massa enim nec? <br>  dui nunc.</h2>
            <a href="#" class="theme-btn btn-style-five"><span class="txt">Contact Us</span></a>
        </div>
    </div>
</section>
<!-- End Call To Action Section -->
